<h1>About Us</h1>
<p align="justify">
  
  It was 2010 and the social media boom was well under way. At that point in time, lot of businesses were yet to appreciate the full benefits of social media. Even the active ones were focussing on posting rather than trying to engage the customers and prospects. In fact every one was trying to figure out the best way to reach their customers.

This company was formed at that point in time, to serve the businesses properly by setting up their social media presence on Facebook, Twitter, etc., and to engage with their prospects. Initially we were providing only the content to the businesses. We are continuously improving our capability and providing a more scientific approach nowadays that helps our customers to reach even higher number of people.

We recently rolled out a comprehensive conversation calendar. It aligns with the business / marketing plan of the customer and it helps every one to post the relevant message at the right time. The engagement level improved between more than twice as a result of this.

In addition to the content, we are one of the elite companies who provide social applications. We provide different kind of applications to increase customer acquisition and sales. The combination of applications and integrated conversation calendar has improved the engagement level by 8 times and customer acquisition by more than thrice. We are in the process of building more applications to benefit our customers.

To manage social media in-house, a business need the following skill set.
<ul>
<li>Programming skill set to write applications
<li>Knowledge on social media platforms
<li>Social media management skills
<li>Content generation skill set
<li>Customer service skills
<li>SEO skills
</ul>
Alternatively you can just use our services. This is hugely cost effective and you can focus on improving your business even further.

You can find our contact details <a href="http://www.vsocialize.com/contact/">here</a>
</p>