<h1>Contact</h1>
<p>
<h3>Get in Touch</h3>
vSocialize Limited<br>
Address: 214 The Heart<br>
Walton On Thames KT12 1GB<br>
Phone: +44 7825 599 514   <br>   
Skype: itsram.san<br>
Email: info@vSocialize.com<br>
  <a href="http://railstutorial.org/feedback">feedback page</a>.
</p>